# Node modules
node_modules/

# TypeScript output
dist/

# Environment variables
.env

# Logs
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.suo

# Coverage directory used by tools like istanbul
coverage/

# Build output
*.tsbuildinfo

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Vercel
.vercel/